
<!DOCTYPE html>
<html>
<head>
<script src="/angular/jquery.mini.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angular/angular-animate.js"></script>
<script src="/angular/ui-bootstrap-tpls-0.13.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/angular/newsController.js"></script>
<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
<title><%=title%></title>
</head>
<body ng-app="friend" ng-controller="friend">
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">Friend</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12" style="margin: 10px;">
							Pending Requests:<br> <input type="text" name="name"
								ng-model="name">
						
						<title><%=title%></title>
					
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
